@font-face {
    font-family: 'robotoreg';
    src: url(./font/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'robotoregita';
    src: url(./font/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'robotothin';
    src: url(./font/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'robotothinita';
    src: url(./font/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'robotomed';
    src: url(./font/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'robotomedita';
    src: url(./font/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'robotolite';
    src: url(./font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'robotoliteita';
    src: url(./font/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'robotobold';
    src: url(./font/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'robotoboldita';
    src: url(./font/Roboto-BoldItalic.ttf);
}

/* CSS specialised for Header.js */
body
{
    font-family: 'robotolite';
    max-width:1000px;
    margin: auto;
    background-color:#fefff8;
}

header {
    display: block;
    height: 100px;
    padding-top: 2%;
    padding-left: 15px;
    text-align: left;
    font-size: 30px;
    font-family: 'robotoregita';
    color: #5e5e5e;
    letter-spacing: 3px;
}

#homeimage {
    margin-right: 2%;
    vertical-align: middle;
}

/* Specialised CSS for NavigationBar.js */
.topnav {
    overflow: hidden;
    font-family: 'robotolite';
    text-decoration: none;
    font-size: 14px;
    color: #5e5e5e;
    letter-spacing: 2px;
    padding-bottom: 3%;
}

.topnav a {
    float: left;
    text-align: center;
    padding: 0 16px;
    text-decoration: none;
}

.topnav a:link {
    color: #5e5e5e;
    text-decoration: none;
}

.topnav a:hover {
    color: #f2b377;
    text-decoration: none;
}

.topnav a:visited {
    color: #5e5e5e;
    text-decoration: none;
}

.topnav a:active {
    color: #f2b377;
    text-decoration: none;
    font-family: 'robotoreg';
}

a:hover {
    text-decoration: none;
}

#activeNav {
    color: #f2b377;
    font-family: 'robotoreg';
}

/* Specialised CSS for Dashboard.js */
#dashboardHome {
    font-family: 'robotolite';
}

#dashboardHome a {
    text-decoration: none;
    color: #f2b377;
}

#dashboardHome a:hover {
    font-family: 'robotoreg';
}

#heading {
    font-family: 'robotoreg';
    letter-spacing: 1px;
}

#detailscontainer {
    width: 98%;
    margin-left: 2%;
    margin-right: 2%;
    overflow: hidden;
}

#customerbox {
    position: relative;
    width: 43.5%;
    height: 140px;
    float: left;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid #5e5e5e;
    background-color: #5e5e5e;
    color: white;

    text-align: left;
}

#customercontents {
    display: block;
    margin: 2%;
    text-align: left;
}

#profilepic {
    width: 80px;
    border-radius: 50%;
    border: 5px solid white;
    vertical-align: middle;
}

#name {
    padding-left: 3%;
    letter-spacing: 2px;
    font-family: 'robotoreg';
    font-size: 25px;
}

#editacc {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 12px;
}

#moneybox {
    position: relative;
    overflow: hidden;
    width: 43%;
    height: 140px;
    padding: 2%;
    margin: 1%;
    border-radius: 15px;
    border: 1px solid #5e5e5e;
    color: #5e5e5e;

    text-align: left;
}

#moneycontents {
    display: block;
    margin: 2%;
    text-align: right;
}

#accbalance {
    position: absolute;
    right: 0;
    bottom: 43%;
    margin-right: 5%;

    letter-spacing: 2px;
    font-family: 'robotoreg';
    font-size: 25px;
}

#currency {
    letter-spacing: 1px;
    font-size: 15px;
}

#editfunds {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5%;
    margin-bottom: 2%;
    font-size: 12px;
}

footer {
	margin-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	
}

/*
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
*/

#tablecontainer {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
    padding-bottom: 15px;
    border-radius: 15px;
    border: 1px solid #5e5e5e;
}

#tableheading {
    margin-left: 2%;
    margin-top: 2%;
    text-align: left;
    font-family: 'robotoreg';
    letter-spacing: 1px;
    color: #5e5e5e;
}

#table {
    border-collapse: collapse;
    width: 94%;
    margin-left: 2%;
    margin-left: 2%;
}

#table th {
    font-weight: normal;
    font-family: 'robotolite';
    text-align: left;
    color: #5e5e5e;
    font-size: 15px;
}

#table td {
    color: #5e5e5e;
}

#table tr:nth-child(even){
    background-color: #f2f2f2;
}

hr { 
    display: block; 
    overflow: hidden; 
    margin-left: 2%;
    margin-right: 2%;
    border-style: inset; 
    border-width: 1px;
}

.footer {
    margin-left: 1%;
    padding-bottom: 60px;
}

.footerText {
    font-family: 'robotoliteita';
    font-weight: normal;
    text-align: left;
    text-decoration-color: #5e5e5e;
}