body
{
    max-width:1000px;
    margin: auto;
    background-color:white;  
}

header
{
	height: 100px;
	padding-left: 15px;
}

.footer {
    padding-bottom: 60px;;
}

.footerText {
    float: left;
    text-decoration-color: #414141;
    font-family: 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 
    'Cantarell', 'Fira Sans', 'Droid Sans', 
    'Helvetica Neue', sans-serif;
}

.welcomeText {
    float: left;
    text-decoration-color: #414141;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 38px;
    font-size: 28px;
    color: #2b2c33;
    margin-bottom: 0;
}



/* Add a black background color to the top navigation */
.topnav {
	margin-top:10px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    text-decoration-color: #414141;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 38px;
    font-size: 28px;
    color: #2b2c33;
    margin-bottom: 0;
}

/* Change the color of links on hover */
.topnav a:hover {
    color: black;
}

/* Add a color to the active/current link */
/* .topnav a.active {
    background-color: #4CAF50;
    color: white;
}
 */

.textbar {
    /* height:100px; */
    padding:10px;
    font-size:25px;
    border:1px solid
}





#cous {
	margin-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-right: 20px;
	
}

a:link {
    text-decoration: none;
	color:black;
}

a:visited {
    text-decoration: none;
	color:black;
}

a:hover {
    text-decoration: underline;
	color:black;
}

a:active {
    text-decoration: underline;
	color:black;
}

footer {
	margin-top: 10px;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 15px;
	
}

/*
input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
*/





.header a:link {
    text-decoration: none;
}

.header a:visited {
    text-decoration: none;
}

.header a:hover {
    text-decoration: underline;
}

.header a:active {
    text-decoration: underline;
}












#tab {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tab td, #tab th {
    border: 1px solid #ddd;
    padding: 8px;
	background-color:White;
	color:black;
}

#tab tr:nth-child(even){background-color: #f2f2f2;}

#tab tr:hover {background-color: #red;}

#tab th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: black;
}



