@font-face {
    font-family: 'robotothin';
    src: url(./font/Roboto-Thin.ttf);
}

@font-face {
    font-family: 'robotothinita';
    src: url(./font/Roboto-ThinItalic.ttf);
}

@font-face {
    font-family: 'robotolite';
    src: url(./font/Roboto-Light.ttf);
}

@font-face {
    font-family: 'robotoliteita';
    src: url(./font/Roboto-LightItalic.ttf);
}

.home-container {
    min-width: 600px;
    display: inline-block;
    text-align: center;
}

.home-container img {
    width: 40%;
}

.home-container h1 {
    font-family: 'robotothin';
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 14px;
    color: #5e5e5e;
}

#login-button {
    margin-top: 1%;
}

#login-button button {
    padding: 1% 4% 1% 4%;
    background-color: #f2b377;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
}

#login-button button:hover {
    background-color: #E3A971;
}

#home-hr {
    width: 600px;
    min-width: 600px;
    margin-top: 2%;
    margin-bottom: 2%
}

#welcomename {
    font-size: 35px;
    letter-spacing: 1px;
    color: #5e5e5e;
    margin-bottom: 5%;
}

#loading {
    margin-top: 20%;
    margin-bottom: 3%;
    font-size: 20px;
    color: #5e5e5e;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

#background {
    width: 100%;
    min-height: fit-content;
    background-image: url('./img/Background.jpg');
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    padding-top: 14%;
    padding-bottom: 14%;
}

#basic-font {
    font-size: 20px;
    color: #5e5e5e;
    letter-spacing: 1px;
}