@font-face {
font-family: 'monita';
src: url(./font/Montserrat-Italic.ttf);
}

@font-face {
font-family: 'monlite';
src: url(./font/Montserrat-Light.ttf);
}

@font-face {
font-family: 'monliteita';
src: url(./font/Montserrat-LightItalic.ttf);
}

@font-face {
font-family: 'mon';
src: url(./font/Montserrat-Regular.ttf);
}

@font-face {
font-family: 'monsbold';
src: url(./font/Montserrat-SemiBold.ttf);
}

@font-face {
font-family: 'monsboldita';
src: url(./font/Montserrat-SemiBoldItalic.ttf);
}

.home-container {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.home-container img {
    width: 400px;
}

.home-container h1 {
    font-family: 'monlite';
    text-transform: uppercase;
    letter-spacing: 9px;
    font-size: 13px;
    color: #5e5e5e;
}

#login-button {
    margin-top: 1%;
}

#login-button button {
    padding: 1% 4% 1% 4%;
    background-color: #f2b377;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    border: none;
    border-radius: 30px;

    transition: background-color 0.5s;
}

#login-button button:hover {
    background-color: #e4944a;
    cursor: pointer;
}

#home-hr {
    width: 500px;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 0.5px solid #5e5e5e;
}

#welcomename {
    font-size: 35px;
    letter-spacing: 1px;
    color: #5e5e5e;
    margin-bottom: 5%;
}

#loading {
    width: 100vw;
    margin-top: 20%;
    margin-bottom: 3%;
    font-size: 20px;
    color: #5e5e5e;
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
}

#background {
    box-sizing: border-box;
    background-image: url('./img/Background.jpg');
    background-color: #FFF;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 13%;
    padding-bottom: 16%;
    overflow: hidden;
}

#basic-font {
    font-size: 20px;
    color: #5e5e5e;
    letter-spacing: 1px;
}