@font-face {
    font-family: 'monita';
    src: url(./font/Montserrat-Italic.ttf);
}

@font-face {
    font-family: 'monlite';
    src: url(./font/Montserrat-Light.ttf);
}

@font-face {
    font-family: 'monliteita';
    src: url(./font/Montserrat-LightItalic.ttf);
}

@font-face {
    font-family: 'mon';
    src: url(./font/Montserrat-Regular.ttf);
}

@font-face {
    font-family: 'monsbold';
    src: url(./font/Montserrat-SemiBold.ttf);
}

@font-face {
    font-family: 'monsboldita';
    src: url(./font/Montserrat-SemiBoldItalic.ttf);
}

body
{
    font-family: 'monlite';
    margin: auto;
    background: white;
    color: #5e5e5e;
}