.topnav {
    display: flex;
    box-sizing: border-box;
    overflow: hidden;
    font-family: 'monsbold';
    font-size: 14px;
    letter-spacing: 2px;

    margin-top: 2%;
    margin-left: 5%;
    margin-bottom: 2%;
}

.topnav a {
    color: #888888;
    transition: color 0.5s;
    float: left;
    text-decoration: none;
    padding-right: 20px;
}

.topnav a:hover {
    color: #f2b377;
}

#activeNav {
    color: #f2b377;
    font-family: 'monsbold';
}