.bpay-logo {
  margin-top: 1%;
  margin-bottom: 2%;
}

.bpay-logo-img {
  height: 80px;
}

.inner-box {
  border-radius: 15px;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px solid #5e5e5e;
  box-sizing: border-box;
  text-align: center;
  overflow: auto;
  padding: 2%;
}

#transfer-img {
  width: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 25px;
}

#spaceout {
  margin-top: 1%;
  margin-bottom: 1%;
}

.upper-inner-box {
  height: fit-content;
  min-width: 600px;
  width: 100%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.text-line {
  height: fit-content;
  color: #5e5e5e;
  font-size: 18px;
  text-align: right;
  font-family: 'mon';
}

.text-line input {
  width: 30%;
  margin-left: 5%;
  margin-right: 25%;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0.5px solid #aaa;
}

.text-line input::placeholder{
  color: #bbb;
  text-transform: uppercase;
}

.text-line input:focus::placeholder{
  color: transparent;
}

.middle-inner-box {
  height: fit-content;
  color: #5e5e5e;
}

.biller-details {
  text-align: center;
  padding-top: 1%;
  padding-bottom: 1%;
  font-size: 20px;
  font-family: 'monita';
  color: #5e5e5e;
}

.biller-name {
  padding-top: 5px;
}

.payment-details {
  height: fit-content;
  width: 100%;
  min-width: 600px;
  font-size: 18px;
  padding: 1%;
}

.payment-details {
  padding-top: 1%;
  padding-bottom: 1%;
  letter-spacing: 1px;
  text-align: right;
  font-weight: bolder;
}

.payment-line {
  height: fit-content;
  margin-bottom: 5px;
  padding-top: 10px;
  color: #5e5e5e;
  font-size: 18px;
  text-align: right;
}

.payment-line input {
  width: 20%;
  margin-left: 5%;
  margin-right: 36%;
  border-radius: 5px;
  font-size: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: 0.5px solid #aaa;
}

.payment-line input::placeholder{
  color: #bbb;
  text-transform: uppercase;
}

.payment-line input:focus::placeholder{
  color: transparent;
}

.lower-inner-box {
  display: block;
  height: fit-content;
  width: 100%;
}


.centre-margin {
  width: 60%;
}

.centre-hr { 
  border: 0px;
  height: 1px;
  background: linear-gradient(to right, rgb(255,255,255,0),rgb(94,94,94,1),rgb(255,255,255,0));
}

.button-container {
  width: 100%;
  display: block;
  padding-top: 2%;
  padding-bottom: 1%;
}

.white-button {
  background-color: white;
  padding: 5px 20px 5px 20px;
  font-size: 18px;
  font-weight: 700;
  display: inline-block;
  overflow: hidden;
  position: relative;
  border: 1px solid #5e5e5e;
  border-radius: 30px;

  transition: background-color 0.5s;
}

.white-button:hover {
  background-color: #5e5e5e;
  cursor: pointer;
  color: white;
}

.white-button-text {
  min-width: 140px;
  display: inline-block;
  letter-spacing: 2px;
  color: #5e5e5e;
  font-family: 'monlite';
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;  
}

.space-width {
  margin-left: 1%;
  margin-right: 1%;
}

