.header-container {
    padding-top: 5vh;
    padding-left: 5vw;
    display: inline-block;
    width: 100vw;
}

.header-header {
    font-size: 3vh;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

.header-header:hover {
    text-decoration: none;
    color: inherit;
}

.log-out {
    float: right;
    margin-right: 5vw;
    color: #888888;
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: 1px;

    padding: 0.5vh 1vw 0.5vh 1vw;
    border-radius: 15px;
    border: 1px solid #888888;

    transition: color 0.5s;
}

.log-out:hover {
    cursor: pointer;
    color: #E3A971;
}

@media only screen and (max-width: 600px) {
    .header-container {
        padding-top: 5vh;
        padding-left: 5vw;
        display: inline-block;
        width: 100vw;
    }

    .header-header {
        display: inline-block;
        padding-top: 0.5vh;
        font-size: 5vw;
        text-decoration: none;
        color: black;
        text-transform: uppercase;
    }

    .log-out {
        float: right;
        margin-right: 5vw;
        color: #888888;
        text-transform: uppercase;
        font-weight: bolder;
        letter-spacing: 1px;
    
        padding: 0.5vh 2vw 0.5vh 2vw;
        border-radius: 15px;
        border: 1px solid #888888;
    }
}