.content_pane {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.logo-image {
    width: 80px;
    height: 80px;
}

.heading {
    font-size: 2em;
}

.form_css {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form_css.div {
    margin: 10px auto;
    width: 100%;
    max-width: 300px;
}

.circleDismiss {
    display: flex;
    justify-content: flex-end;
}

.loginButton {
    padding-top: 10px;
    padding-bottom: 10px;
}

.circle-button {
    border-radius: 30px;
    padding: 0;
    width: 40px;
    height: 40px;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    color: black;
    border: 1px solid gray;
    cursor: pointer;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.input {
    border-radius: 3px;
}